
.grid2x2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box {
  margin: 20px;
}

/* .box1 {
  background-color: red;
}
.box2 {
  background-color: orange;
}
.box3 {
  background-color: purple;
}
.box4 {
  background-color: grey;
} */
